/*
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
 */

:root {
  --pink-400: hsl(0, 36%, 70%);
  --red-500: hsl(0, 93%, 68%);
  --gray-900: hsl(0, 6%, 24%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", Courier, monospace;
  background-image: linear-gradient(
    to bottom,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 30px;
}

.logo {
  width: 100px;
  height: auto;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 60px 32px 60px 32px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  text-align: center;
  line-height: 1.05;
  color: var(--gray-900);
  font-weight: 500;
}

.hightlight {
  font-weight: 300;
  color: var(--pink-400);
}

p {
  font-size: 0.9rem;
  color: var(--pink-400);
  text-align: center;
  line-height: 1.5;
}

.input-group {
  position: relative;
  padding: 1rem 0;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: none;
  background-color: hsl(0, 100%, 98%);
  border: 1px solid var(--pink-400);
  padding: 1rem;
  position: relative;

  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}

input::placeholder {
  color: var(--pink-400);
  opacity: 0.5;
}

input:focus {
  outline: none;
  border: 1px solid var(--pink-400);
}

.btn-submit {
  position: absolute;
  border: 0;
  top: 50%;
  right: 0;
  padding: 0.8rem 1.7rem;
  background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  cursor: pointer;
  box-shadow: 0 20px 30px hsl(0, 93%, 68%, 0.3);

  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);

  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}

.error-message {
  display: none;
  position: absolute;
  font-size: 0.8rem;
  color: var(--red-500);
  padding-top: 1rem;
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {
  body {
    min-height: 100vh;
    background: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 65% 80%;
  }

  main {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;

    align-items: center;
    justify-items: center;
  }

  header {
    width: 70%;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  picture {
    grid-column: 2/3;
    grid-row: 1/-1;
    align-self: stretch;
  }

  .logo {
    width: 158px;
    padding-top: 36px;
  }

  .hero-image {
    display: block;
    object-fit: cover;
  }

  section {
    width: 70%;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 0;
    padding-right: 105px;
  }

  h1 {
    font-size: 4.3rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
    text-align: left;
    line-height: 1.7;
  }

  input {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .btn-submit {
    padding: 1rem 2.5rem;
  }
}
